extends layout

block content
  div.main
    div.module#head
      //- div.welcome.floatLeft
      //-   div.vcenter 
      //-     p Hallo, Sören.
      //- div.floatLeft.time
      //-   .vcenter#clock
      
      div.row.vcenter
        div.col-md-7.welcome
          p Hallo, Sören.
        div.col-md-4.col-md-offset-1.time
          div.row
            div.col-md-12#clock    
            div.col-md-12#date
            div.col-md-12
              div.row
                div.col-md-4.col-md-offset-3
                  a(data-icon='A').icon#headWeatherIcon
                div.col-md-3#headTemp
                div.col-md-1
                  a(data-icon='*').icon
    div.module.train
      div.liner
        div.floatLeft.noline
        div.floatLeft.line 
        div.floatLeft.noline
      div.headTrain.row
        div.trainIcon.col-md-2
          img(src='/images/bullet_train.png')
        div.fromStation.station.col-md-4
          a Gießen Licher Str
        div.station.col-md-1
          a &#8594;
        div.toStation.station.col-md-4
          a Frankfurt(Main)West
      
      div.row.trains  
        div.col-md-6.col-md-offset-1.outer-align
          div.firstTrain
            //- table
            //-   tr
            //-     td.train-times 10:00 
            //-     td (+10) 
            //-     td.station Gießen Licher Str 
            //-   tr
            //-     td.train-times 10:10 
            //-     td (+10) 
            //-     td.station Gießen  
            //-   tr
            //-     td.train-times 10:20 
            //-     td  
            //-     td.station Gießen 
            //-   tr
            //-     td.train-times 11:00 
            //-     td  
            //-     td.station Friedberg 
            //-   tr
            //-     td.train-times 11:15
            //-     td (+5) 
            //-     td.station Friedberg
            //-   tr
            //-     td.train-times 11:50
            //-     td (+5) 
            //-     td.station Frankfurt(Main)West
        div.col-md-5.outer-align
          div.secondTrain
            //- table
            //-   tr
            //-     td.train-times 10:00 
            //-     td (+10) 
            //-     td.station Gießen Licher Str 
            //-   tr
            //-     td.train-times 10:10 
            //-     td (+10) 
            //-     td.station Gießen  
            //-   tr
            //-     td.train-times 
            //-     td  ...
            //-     td.station 
            //-   tr
            //-     td.train-times 11:15
            //-     td (+5) 
            //-     td.station Friedberg
            //-   tr
            //-     td.train-times 11:50
            //-     td (+5) 
            //-     td.station Frankfurt(Main)West
        

      
      
    div.module
      div.liner
        div.floatLeft.noline
        div.floatLeft.line 
        div.floatLeft.noline
      div.row
        div.col-md-4.col-md-offset-4.weather-head
          p Gießen
      div.row
        div.col-md-4
          div.row
            div.col-md-5
              a(data-icon='B').icon.forecast
            div.col-md-6.forecast-font
              div.row
                div.col-md-12.forecast-placer
                div.col-md-8
                  p -12,3
                div.col-md-4
                  a(data-icon='*').icon.forecast-temp
                div.col-md-8
                  p 87,2%
                div.col-md-4
                  a(data-icon="'").icon.forecast-temp
                div.col-md-8
                  p WSW
                div.col-md-4
                  a(data-icon="(").icon.forecast-temp
                  
        div.col-md-4
          div.row
            div.col-md-5
              a(data-icon='M').icon.forecast
            div.col-md-6.forecast-font
              div.row
                div.col-md-12.forecast-placer
                div.col-md-8
                  p -12,3
                div.col-md-4
                  a(data-icon='*').icon.forecast-temp
                div.col-md-8
                  p 87,2%
                div.col-md-4
                  a(data-icon="'").icon.forecast-temp
                div.col-md-8
                  p WSW
                div.col-md-4
                  a(data-icon="(").icon.forecast-temp
        div.col-md-4
          div.row
            div.col-md-5
              a(data-icon='W').icon.forecast
            div.col-md-6.forecast-font
              div.row
                div.col-md-12.forecast-placer
                div.col-md-8
                  p -12,3
                div.col-md-4
                  a(data-icon='*').icon.forecast-temp
                div.col-md-8
                  p 87,2%
                div.col-md-4
                  a(data-icon="'").icon.forecast-temp
                div.col-md-8
                  p WSW
                div.col-md-4
                  a(data-icon="(").icon.forecast-temp
      dir.row.forecast-font.bold
        div.col-md-1.col-md-offset-1
          p Mo
        div.col-md-1.col-md-offset-3
          p Di
        div.col-md-1.col-md-offset-3
          p Mi
          
      
      
    div.module
      div.liner
        div.floatLeft.noline
        div.floatLeft.line 
        div.floatLeft.noline
