extends layout

block content
  div.main
    div.module#head
      div.welcome.floatLeft
        div.vcenter 
          p Hallo, Sören.
      div.floatLeft.time
        .vcenter#clock
    div.module.train
      div.liner
        div.floatLeft.noline
        div.floatLeft.line 
        div.floatLeft.noline
      div.headTrain.row
        div.trainIcon.col-md-2
          img(src='/images/bullet_train.png')
        div.fromStation.station.col-md-4
          a Gießen Licher Str
        div.station.col-md-1
          a &#8594;
        div.toStation.station.col-md-4
          a Frankfurt(Main)West
      
      div.row.trains  
        div.col-md-4.col-md-offset-2.outer-align
          div.firstTrain
            table
              tr
                td.train-times 10:00 
                td (+10) 
                td.station Gießen Licher Str 
              tr
                td.train-times 10:10 
                td (+10) 
                td.station Gießen  
              tr
                td.train-times 10:20 
                td  
                td.station Gießen 
              tr
                td.train-times 11:00 
                td  
                td.station Friedberg 
              tr
                td.train-times 11:15
                td (+5) 
                td.station Friedberg
              tr
                td.train-times 11:50
                td (+5) 
                td.station Frankfurt(Main)West
        div.col-md-3.outer-align
          div.secondTrain
            table
              tr
                td.train-times 10:00 
                td (+10) 
                td.station Gießen Licher Str 
              tr
                td.train-times 10:10 
                td (+10) 
                td.station Gießen  
              tr
                td.train-times 
                td  ...
                td.station 
              tr
                td.train-times 11:15
                td (+5) 
                td.station Friedberg
              tr
                td.train-times 11:50
                td (+5) 
                td.station Frankfurt(Main)West
        div.col-md-2.outer-align
          div.thirdTrain
            table
              tr
                td.train-times 10:00 
                td (+10) 
                td.station Gießen Licher Str 
              tr
                td.train-times 10:10 
                td (+10) 
                td.station Gießen  
              tr
                td.train-times 10:20 
                td  
                td.station Gießen 
              tr
                td.train-times 11:00 
                td  
                td.station Friedberg 
              tr
                td.train-times 11:15
                td (+5) 
                td.station Friedberg
              tr
                td.train-times 11:50
                td (+5) 
                td.station Frankfurt(Main)West

      
      
    div.module
      div.liner
        div.floatLeft.noline
        div.floatLeft.line 
        div.floatLeft.noline
    div.module
      div.liner
        div.floatLeft.noline
        div.floatLeft.line 
        div.floatLeft.noline
    div.module
      div.liner
        div.floatLeft.noline
        div.floatLeft.line 
        div.floatLeft.noline
