doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://cdn.socket.io/socket.io-1.2.0.js')
    script(src='http://code.jquery.com/jquery-1.11.1.js')
    link(href='https://fonts.googleapis.com/css?family=Exo:100' rel='stylesheet')
    script(src='/javascripts/custom.js')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  body(onload="startTime()")
    block content
