doctype html
html
  head
    title= title
    <!-- Insert this line above script imports  -->
    script if (typeof module === 'object') {window.module = module; module = undefined;}
    link(rel='stylesheet', href='./stylesheets/weather-font.css')
    link(rel='stylesheet', href='./stylesheets/style.css')
    script(src='./javascripts/socket.io/socket.io.min.js')
    script(src='./javascripts/jquery/jquery.js')
    link(href='https://fonts.googleapis.com/css?family=Exo:100' rel='stylesheet')
    link(rel='stylesheet', href='./stylesheets/bootstrap/bootstrap.min.css')
    script(src='./javascripts/bootstrap/bootstrap.min.js')
    script(src='./javascripts/jcarousel/jquery.jcarousel.min.js')
    script(src='./javascripts/custom.js')
  body(onload="init()")
    block content
