[OpenCV]
cascade_path: /home/pi/opencv-3.0.0/data/haarcascades/haarcascade_frontalface_default.xml
eyes_path: /home/pi/opencv-3.0.0/data/haarcascades/haarcascade_eye.xml
noses_path: /home/pi/opencv-3.0.0/data/haarcascades/Nariz.xml

[Camera]
rotation: 100

[Log]
Level: INFO

[face-producer]
channel: faces

[Redis]
host: localhost
port: 6379
db: 0
